<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <a href="/allposts">My blog</a>
        <a href="/formulairepost">Nouveau Post</a>
    </nav>
    <form action="/nouveaupost" method="post">
        Titre <input type="text" name="titre" /><br>
        Auteur <input type="text" name="auteur" /><br>
        Description 
        <textarea name="description" id="" cols="30" rows="10">
        </textarea><br>
        <input type="submit" value="Envoyer mon post">
    </form>
</body>
</html>